// @use '/partials/site-setup';
@import 'partials/mixins';

body {
  background-color: black;
}
#click-to-copy {
  font-size: 0.8rem;
  font-style: italic;
  padding-left: 10px;
  display: inline-block;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  &.clicked {
    color: white;
  }
}
html {
  scroll-behavior: smooth;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  @include phone {
    font-size: 16px;
  }
}
/* Lazy loading effect */
img.lazy-img {
  filter: blur(30px);
}
h1,
h2,
h3 {
  margin: 0;
  color: white;
}
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  &.green {
    color: #67bd00;
  }
  &.light {
    font-weight: 300;
  }
  &.bold {
    font-weight: 900 !important;
  }
  &.nowrap {
    white-space: nowrap;
  }
}

.grid {
  display: grid;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.e-header,
.e-section {
  max-width: 1100px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  @include tablet {
    padding: 0 2rem;
  }
}

.e-section {
  opacity: 1;
  transform: translateY(0rem);
  transition: opacity 0.7s ease, transform 0.7s ease;
  &.section--hidden {
    opacity: 0;
    transform: translateY(5rem);
  }
}

/* NOTE HEADER */
.e-header {
  margin-top: 50px; /* NOTE Remove before publishing */

  grid-template: minmax(200px, auto) / 4fr 5fr;
  grid-gap: 1px;
  @include tablet2 {
    grid-template-columns: 1fr;
  }
  margin-bottom: 50px;
  &__left {
    flex-flow: column nowrap;
    justify-content: center;
    @include tablet2 {
      justify-content: flex-start;
    }

    & h1 {
      font-size: 2.8rem;
      line-height: 1.2;
      margin: 100px 0 40px 0;
      @include tablet2 {
        text-align: center;
        margin: 1rem 0;
        & .block {
          display: inline;
        }
      }
    }
    & h2 {
      font-size: 1.8rem;
      line-height: 1.5;
      @include tablet2 {
        text-align: center;
        & .block:nth-child(1) {
          display: inline;
        }
      }
      & .light {
        font-size: 1.3rem;
        color: $lightGrey;
      }

      & .locate {
        margin-top: 35px;
        font-size: 1.3rem;
        color: $lightGrey;
        position: relative;
        padding-top: 5px;
        &:before {
          content: '';
          position: absolute;
          top: -5px;
          left: 0;
          width: 7%;
          height: 5px;
          background-color: $lightGrey;
          @include tablet2 {
            display: none;
          }
        }
      }
    }
  }
  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    @include tablet2 {
      order: -1;
    }
    & .hero-img {
      @include phone {
        width: 95%;
      }
    }

    padding: 20px 0;
  }
}
/* NOTE SECTION 1 */
.section-1 {
  // grid-template: repeat(9, 100px) / 3fr 4fr;
  grid-auto-rows: auto;
  grid-template-columns: 6fr 8fr;
  @include tablet2 {
    grid-template-columns: 1fr;
    margin-bottom: 40px;
  }

  margin-bottom: 100px;

  color: $lightGrey;
  & .section-1__title {
    /* Why join us */
    grid-column: span 2;
    font-size: 2.4rem;
    padding: 20px 10px;
    border: none;
    @include tablet2 {
      margin: 2rem 0;
    }
  }
  & .section-1__element {
    grid-column: 2;

    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    padding: 10px 20px;
    border-bottom: 2px solid #222;

    font-size: 1rem;
    &:last-child {
      border-bottom: none;
    }
    &.img-element {
      grid-row: span 9;
      grid-column: 1/2;
      @include tablet2 {
        display: none;
      }

      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;

      padding: 20px 30px 0 0;
      background-color: black;
      border: none;

      animation: hovering-img 5s infinite 0s ease-in-out;
      & img {
        width: 98%;
      }
    }
    & .svg-icon {
      min-width: 36px;
      width: 6%;
      margin-right: 6%;
    }
    & .element-text {
      max-width: auto;
    }
  }
}
/* NOTE SECTION 2 */
.section-2 {
  grid-auto-rows: auto;
  grid-template-columns: 10fr 6fr;
  @include tablet2 {
    grid-template-columns: 1fr;
  }

  margin-bottom: 50px;
  & div.section-2__left {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    background-color: $darkGrey;
    clip-path: polygon(0 0, 100% 0, 100% 93%, 0 93%);

    padding: 2rem 3.6rem;
    padding-bottom: calc(5% + 1rem);
    & .section-2__title {
      color: white;
      margin-bottom: 1.5rem;

      font-size: 1.5rem;
      @include tablet2 {
        font-size: 1.7rem;
      }
    }
    & p:not(.section-2__title) {
      color: white;
      margin-bottom: 1rem;

      line-height: 1.5;
      font-size: 0.85rem;
      @include tablet2 {
        font-size: 1rem;
      }
    }
  }
  & div.section-2__right {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    @include tablet2 {
      clip-path: none;
      display: inline-block;
      width: 50vw;
      margin: 0 auto;
      height: auto;
      padding: 1rem 2rem;
      &:hover {
        box-shadow: none;
      }
    }

    background-color: $delGreen2;

    padding: 3.8rem;
    padding-bottom: calc(8% + 3.8rem);

    // clip-path: polygon(0 0, 100% 0, 100% 93%, 0 93%);
    clip-path: polygon(0 0, 50% 7%, 100% 0, 100% 93%, 50% 100%, 0 93%);
    // clip-path: circle(25%);
    transition: box-shadow 0.8s ease, animation 0.8s ease; //BUG: not doing a transition
    &:hover {
      // clip-path: circle(75%);
      @include media('>1150px') {
        box-shadow: inset 14px 20px 20px 0px rgba(0, 0, 0, 0.4), inset -14px 20px 20px 0px rgba(0, 0, 0, 0.4);
      }
      // animation: hovering-arrow 1s infinite 0s ease-in-out;

      // clip-path: polygon(0 0, 50% 7%, 100% 0, 100% 93%, 50% 100%, 0 93%);
    }

    & p {
      text-align: left;
      font-size: 2rem;
      color: white;
      @include tablet2 {
        text-align: center;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
}
/* NOTE SECTION 3 */
.section-3 {
  // background-color: $lightGrey3;
  margin-top: 150px;
  margin-bottom: 50px;

  color: white;

  position: relative;
  @include tablet2 {
    margin: 2rem;
    background-color: $darkGrey;
    padding-top: 2rem;
  }
  & > h3 {
    font-size: 5.5rem;
    line-height: 1;
    padding-left: 3.6rem;

    transform: translateY(4.2rem);
    @include tablet2 {
      transform: translateY(0);
      font-size: 4rem;
      padding: 0;
    }
    & .block {
      font-size: 0.7em;
    }
  }
  & .floating-p {
    // display: none;
    position: absolute;
    top: -2rem;
    right: 1rem;

    font-size: 2.5rem;
    font-weight: 300;
    width: 50%;
    @include tablet2 {
      position: relative;
      top: auto;
      right: auto;
      width: auto;
      margin: 2rem 0;
      padding: 0;
      font-size: 1.6rem;
      & .nowrap {
        white-space: normal;
      }
    }
  }
  & #cupola {
    position: absolute;
    top: -4rem;
    left: 0;
    width: 23rem;
    z-index: -1;
    opacity: 0.5;
    @include tablet {
      display: none;
    }
  }
  & .boot-container {
    // position: relative;
    @include tablet2 {
      padding: 2rem 0;
      padding-top: 0;
      grid-template-rows: auto;
      grid-template-columns: 1fr;
      grid-template-areas:
        'A'
        'B'
        'C'
        'E'
        'F'
        'D'
        'G';
    }
    background-color: $darkGrey;
    padding: 3.6rem;
    padding-bottom: 4rem;
    padding-top: 8rem;

    grid-template-rows: repeat(4, auto);
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-areas:
      'A B B'
      'C . D'
      'E . G'
      'F . G';

    & .boot-container__element:nth-child(1) {
      grid-area: A;
      @include tablet2 {
        display: inline-block;
        width: auto;
        padding-bottom: 1rem;
      }

      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: flex-start;

      position: relative;

      margin-right: 3rem;
      &:after {
        content: '';
        position: absolute;
        background-color: $delGreen2;
        width: 20%;
        height: 7px;
        bottom: 1px;
        right: 0;
        @include tablet2 {
          display: none;
        }
      }
      &:before {
        content: '';
        position: absolute;
        background-color: $delGreen2;
        width: 100%;
        height: 2px;
        bottom: 3px;
        right: 0;
        @include tablet2 {
          width: 50%;
          left: 0;
          right: auto;
        }
      }
      & p {
        font-size: 1.4rem;
        margin: 0.7rem 0 0 0;
      }
    }
    & .boot-container__element:nth-child(2) {
      grid-area: B;
      @include tablet2 {
        margin-top: 2rem;
      }
      & p {
        font-size: 1rem;
        font-weight: 300;
        @include tablet2 {
          font-size: 1.2rem;
        }

        &:nth-child(1) {
          margin-bottom: 1rem;
        }
      }
    }
    & .boot-container__element:nth-child(3),
    .boot-container__element:nth-child(4) {
      grid-area: C;

      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: flex-end;

      margin: 3rem 0;
      margin-top: 5rem;
      & p {
        font-size: 2rem;
        font-weight: bold;
        color: $delTurquoise;
        padding-left: 1rem;
        line-height: 1.1;
      }
      & .bootcamp-icon {
        min-width: 4rem;
        width: 22%;
        @include tablet2 {
          width: 10%;
        }
      }
    }
    & .boot-container__element:nth-child(4) {
      grid-area: D;

      & p {
        color: $delLightGreen;
      }
    }
    & .boot-container__element:nth-child(5),
    .boot-container__element:nth-child(6),
    .boot-container__element:nth-child(7) {
      padding-bottom: 3.4rem;
      grid-area: E;
      & h4 {
        display: inline-block;
        padding: 0.6rem 0.9rem;
        font-size: 1.8rem;
        background-color: $delTurquoise;
        margin: 0;
        @include tablet2 {
          // font-size: 2rem;
        }
      }
      & h5 {
        font-size: 1.2rem;
        margin: 1rem 0;
        color: $lightGrey3;
        @include tablet2 {
          font-size: 1.5rem;
        }
      }
      & p {
        font-weight: 300;
        font-size: 0.9rem;
        color: $lightGrey2;
        @include tablet2 {
          font-size: 1.1rem;
          max-width: 90%;
        }
      }
    }
    & .boot-container__element:nth-child(6) {
      padding-bottom: 0;
      grid-area: F;
    }
    & .boot-container__element:nth-child(7) {
      grid-area: G;

      & h4 {
        background-color: $delLightGreen;
      }
    }
  }
}

/* NOTE SECTION 4*/
.section-4 {
  // grid-auto-rows: auto;
  grid-template-rows: repeat(auto-fill, 400px);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }
  @include phone {
    grid-template-columns: 1fr;
  }
  margin-bottom: 50px;
  & .section-4__job {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 2.5rem;
    background-color: $delLightGreen;

    &:nth-child(1) {
      background-color: $delTurquoise;
    }
    & h4 {
      margin: 0.5rem 0 1.5rem 0;
      font-size: 1.3rem;
      @include phone {
        font-size: 2rem;
      }
      color: white;
    }
    & p {
      //Job description button
      @include phone {
        font-size: 1.5rem;
        align-self: flex-start;
      }
      cursor: pointer;
      transition: padding 0.5s ease, background-color 0.5s ease;
      &.description--active {
        background-color: white;
        color: black;
        padding-left: 1rem;
        & .arrow {
          border-right: 3px solid black;
          border-bottom: 3px solid black;

          &:before {
            background-color: black;
          }
        }
      }
      align-self: stretch;

      margin-top: auto;
      padding: 7px 0;

      color: white;
      font-size: 1.2rem;

      border-bottom: 2px solid white;
      & .arrow {
        display: inline-block;
        transform-origin: bottom right;
        position: relative;
        width: 14px;
        height: 14px;
        border-right: 3px solid white;
        border-bottom: 3px solid white;
        transform: scale(0.6) rotate(-45deg) translate(7px, -5px);
        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          width: 16px;
          height: 3px;
          background-color: white;
          transform-origin: bottom right;
          transform: rotate(45deg) translate(-7px, 1px);
        }
      }
    }
    & .btn__apply {
      @include phone {
        font-size: 1.5rem;
        align-self: flex-end;
      }
      display: inline-block;
      margin: 30px 0 10px 0;
      padding: 10px 30px;

      text-decoration: none;
      color: white;
      font-weight: bold;

      background-color: black;
      // border: 3px solid black;
      transition: color 0.2s ease, background-color 0.2s ease;
      &.btn--active {
        color: black;
        background-color: white;
      }
    }
    & .job-icon {
      max-height: 70px;
    }
  }
}
/* NOTE SECTION 5 */
.section-5 {
  margin-bottom: 50px;
  color: white;
  background-color: $darkGrey;
  padding: 3rem;
  @include tablet {
    margin: 0 2rem;
  }
  & h3 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  & p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  & .awards-wrapper {
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: baseline;

    margin-top: 2rem;
    & img {
      margin-right: 1rem;
      @include tablet2 {
        width: 18%;
        margin-right: 1%;
        display: block;
      }
    }
  }
}
/* NOTE SECTION 6 */
.section-6 {
  padding: 5rem 0;
  & .social-container {
    grid-template: repeat(2, auto) / repeat(3, 1fr);
    margin: 0 auto;
    max-width: 200px;
    & h3 {
      font-size: 1.5rem;
      margin-bottom: 2rem;
      grid-column: span 3;
      text-align: center;
    }
    & img {
      width: 40px;
      display: block;
      margin: 0 auto;
    }
  }
}
#pop-up-overlay,
#job-description-wrapper {
  box-sizing: border-box;
}

#pop-up-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background: black;
  opacity: 0.8;
  display: none;
  &.visible {
    display: block;
  }
}

#job-description-wrapper {
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  @include media('<1500px') {
    width: 80vw;
  }
  @include tablet {
    width: 90vw;
    height: 90vh;
  }
  position: fixed;
  // overflow-y: auto;

  height: 80%;
  width: 60%;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  z-index: 999;

  background: $delLightGreen;
  display: none;

  & #close-btn {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 3.5rem;
    cursor: pointer;
  }
  &.visible {
    display: flex;
  }
  & .job-icon {
    max-width: 1rem;
  }

  & .job-container {
    position: relative;
    height: 69%;
    width: 80%;
    display: none;
    margin-top: 6rem;
    padding-right: 3rem;

    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0.8rem;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: $delLightGreen;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background-color: #167053;
      // outline: 1px solid slategrey;
    }

    &.visible {
      display: block;
    }
    & .job-icon {
      padding-right: 1rem;
    }
    &__title {
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;

      color: white;
      font-size: 1.5rem;
      text-transform: uppercase;

      font-weight: 700;
      margin-top: 0;
    }
    & h5 {
      font-size: 1.2rem;
      text-transform: uppercase;
      margin: 2rem 0;
    }
    & p:not(:last-child) {
      margin-bottom: 0.8rem;
    }
    & p {
      font-size: 1rem;
    }
    & ul {
      padding-left: 1rem;
    }

    & li {
      list-style-type: disc;
      line-height: 1.5;
    }
    &__background {
      // display: none;
      & h5 {
        margin-top: 3rem;
      }
    }
    &__responsibilities.grid {
      margin-bottom: 3rem;
      grid-template-rows: repeat(3, auto);
      grid-template-columns: 1fr 1fr;
      & h5,
      p {
        grid-column: span 2;
      }
      & resp__left {
        grid-column: 1/2;
      }
      & resp__right {
        grid-column: 2/3;
      }
    }
    &__responsibilities {
      & h5 {
        margin-top: 0;
      }
      & .resp__left {
        padding-right: 3rem;
      }
      & h6 {
        font-size: 1rem;
        margin: 1rem 0;
      }
    }
    &__requirements {
      // padding-bottom: 3rem;
    }
  }

  & .description-wrapper__btn {
    display: none;

    color: black;
    font-size: 1.5rem;
    font-weight: 700;

    border: 3px solid white;
    margin: 2rem auto;
    padding: 0.5rem 2rem;

    cursor: pointer;
    transition: border-color 0.5s ease;
    background-color: white;
    &.visible {
      display: inline-block;
    }
    &:hover {
      border-color: black;
    }
  }
}
@keyframes hovering-img {
  0% {
    transform: translateY(2rem);
  }
  50% {
    transform: translateY(1.5rem);
  }
  100% {
    transform: translateY(2rem);
  }
}
@keyframes hovering-arrow {
  0% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(1.5rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
